---
import fotofooter from "../../assets/images/fotofoter.png";
import instagram from "../../assets/images/ig.png";
import linkedin from "../../assets/images/in.png";
import whatsapp from "../../assets/images/whatsapp.png";
import behance from "../../assets/images/behance.png";
import "../../layouts/Default/variables.scss";
import "./styles.scss";
---

<div id="footer">
  <div class="cuadro_footer">
    <div class="fotofoter">
      <img src={fotofooter} alt="" />
    </div>

    <nav class="footer_menu texto-subtitulo">
      <a href="/sobremi">Sobre mí</a>
      <a href="/proyectos">Proyectos</a>
      <a href="/certificados">Certificados</a>
      <a href="/contacto">Contacto</a>
    </nav>
    <div class="redessociales">
      <div class="instagram">
        <img src={instagram} alt="" />
      </div>
      <div class="linkedin">
        <img src={linkedin} alt="" />
      </div>
      <div class="whatsapp">
        <img src={whatsapp} alt="" />
      </div>
      <div class="behance">
        <img src={behance} alt="" />
      </div>
    </div>
  </div>
</div>

