---
import fotofooter from "../../assets/images/fotofoter.png";
import instagram from "../../assets/images/ig.png";
import linkedin from "../../assets/images/in.png";
import whatsapp from "../../assets/images/whatsapp.png";
import behance from "../../assets/images/behance.png";
import "./styles.scss"
---

<div id="footer">
  <div class="cuadro_footer">
    <div class="fotofoter">
      <img src={fotofooter} alt="" />
    </div>

    <nav class="footer_menu">
      <a href="./pages/sobremi.html">Sobre mí</a>
      <a href="./pages/proyectos.html">Proyectos</a>
      <a href="./pages/certificados.html">Certificados</a>
      <a href="./pages/contacto.html">Contacto</a>
    </nav>
    <div class="redessociales">
      <div class="instagram">
        <img src={instagram} alt="" />
      </div>
      <div class="linkedin">
        <img src={linkedin} alt="" />
      </div>
      <div class="whatsapp">
        <img src={whatsapp} alt="" />
      </div>
      <div class="behance">
        <img src={behance} alt="" />
      </div>
    </div>
  </div>
</div>

